{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>

    <div class="column">
        {% for item in menu %}
         <a href="{% url 'menu_item' pk=item.pk %}">
         <p> {{item.name}}</p>
         </a>
         <span class="menu-price">${{item.price}}</span>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}